.todo_detail_title_container {
  width: 996px;
  max-width: 996px;
  height: 64px;
  background-color: white;
  border-radius: 24px;
  border: 2px solid var(--slate-900);
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 9px 12px;
  font-size: 16px;
  justify-content: center;
  text-decoration: underline;
}

.checked {
  background-color: var(--violet-100);
  text-decoration: line-through;
}

.todo_detail_title {
  font-family: "NanumSquareBold";
  font-size: 20px;
  line-height: 100%;
  letter-spacing: 0%;
}

.todo_detail_title_container > button {
  background: none; /* 배경 제거 */
  border: none; /* 테두리 제거 */
  padding: 0; /* 패딩 제거 */
  font: inherit; /* 부모 요소의 폰트 상속 */
  color: inherit; /* 부모 요소의 글자색 상속 */
  cursor: pointer; /* 마우스 커서를 포인터로 설정 */
  outline: inherit; /* focus 시 나타나는 외곽선 상속 */
}
