@import url(colors.css);

* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts-2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

body {
  margin: 0;
}

header {
  top: 0;
  height: 70px;
  background-color: white;
  display: flex;
  justify-content: center;
  position: sticky;
}

a {
  text-decoration: none;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.slogan-heading {
  color: var(--gray700);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 40px);
}

.menu-heading {
  color: var(--gray700);
  font-weight: 700;
  font-size: clamp(16px, 2vw, 40px);
}

h2 {
  font-weight: 500;
  font-size: clamp(12px, 1vw, 24px);
  color: var(--gray700);
}

button {
  cursor: pointer;
}

.logo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 200px;
}

.logo-img {
  background-image: url('../assets/images/logo_sm.png');
  background-repeat: no-repeat;
  width: 198px;
  height: 66px;
}

.header-login-btn {
  width: 128px;
  height: 48px;
  background-color: var(--blue);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: white;
  font-weight: 600;
}

.login-btn:hover {
  background-color: #1967d6;
}

.login-btn:active {
  background-color: #1251aa;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100vh;
}

.plan-card {
  background-color: #cfe5ff;
  display: flex;
  height: 540px;
  justify-content: center;
  align-items: end;
}

.slogan {
  display: flex;
  flex-direction: column;
  margin-bottom: 100px;
}

.large-btn {
  width: 19vw;
  max-width: 357px;
  height: 56px;
  background-color: var(--blue);
  border-radius: 40px;
  border: none;
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.large-btn:hover {
  background-color: #1967d6;
}

.large-btn:active {
  background-color: #1251aa;
}

.main-img {
  width: 746px;
  height: 340px;
}

.home-container {
  height: 720px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-box {
  width: 988px;
  height: 444px;
  border-radius: 12px;
  border: none;
  background-color: #fcfcfc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.introduce-img {
  width: 579px;
  height: 444px;
}

.keyword {
  font-weight: 800;
  font-size: 18px;
  color: var(--blue);
}

.sec-introduce {
  text-align: right;
}

.bottom {
  background-color: #cfe5ff;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: end;
}

.bottom-slogan {
  padding-bottom: 100px;
}

.footer-container {
  height: 160px;
  background-color: var(--gray900);
  display: flex;
  justify-content: center;
}

.bottom-content-box {
  width: 1110px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.copyright {
  color: var(--gray400);
  font-size: 16px;
  font-weight: 400;
}

.footer-menu a {
  color: var(--gray200);
  font-size: 16px;
  font-weight: 400;
  padding: 15px;
}

.sns-menu ul {
  padding: 0;
}

.sns-menu ul > li {
  list-style: none;
  display: inline-block;
  padding: 5px;
}

/* tablet */
@media (max-width: 1199px) {
  body {
    background-color: #fcfcfc;
  }

  .slogan-heading {
    color: var(--gray700);
    font-weight: 700;
    font-size: 40px;
  }

  .menu-heading {
    font-size: 32px;
  }

  h2 {
    font-weight: 500;
    font-size: 18px;
    color: var(--gray700);
  }

  .logo {
    padding: 10px 24px;
  }

  .plan-card {
    background-color: #cfe5ff;
    display: flex;
    flex-direction: column;
    height: 771px;
    justify-content: space-between;
    align-items: center;
  }

  .large-btn {
    width: 512px;
    height: 56px;
  }

  .main-img {
    width: 744px;
    height: 340px;
  }

  .slogan {
    align-items: center;
    margin-top: 50px;
  }

  .only-pc {
    display: none;
  }

  .home-container {
    height: 800px;
  }

  .content-box {
    display: grid;
    width: 768px;
    height: 100%;
    padding: 20px 0;
  }

  .introduce,
  .sec-introduce {
    padding-bottom: 40px;
  }

  .sec-introduce {
    grid-row: 2/3;
  }

  .keyword {
    font-weight: 700;
    font-size: 18px;
    color: var(--blue);
  }

  .introduce-img {
    width: 696px;
    height: 525.55px;
  }

  .bottom {
    display: grid;
    width: 100%;
    height: 1080px;
    align-items: end;
  }

  .bottom img {
    width: 100%;
  }

  .bottom-slogan {
    text-align: center;
  }

  .bottom-content-box {
    width: 768px;
    padding: 0px 0px 60px;
    justify-content: space-around;
  }
}

/* mobile */
@media (max-width: 767px) {
  .slogan-heading {
    font-size: 24px;
  }

  .menu-heading {
    font-size: 24px;
  }

  h2 {
    font-size: 16px;
  }

  .plan-card {
    height: 600px;
  }

  .slogan {
    margin-top: 80px;
  }

  .slogan-heading {
    font-size: 32px;
    text-align: center;
  }

  .large-btn {
    width: 240px;
    height: 48px;
    font-size: 18px;
  }

  .main-img {
    width: 375px;
    height: 175px;
  }

  .logo {
    padding: 10px 16px;
  }

  .logo-img {
    background-image: url('../assets/images/logo_typo.png');
    background-repeat: no-repeat;
    width: 103px;
    height: 51px;
  }

  .home-container {
    height: 480px;
  }

  .content-box {
    width: 375px;
  }

  .introduce,
  .sec-introduce {
    width: 344px;
  }

  .introduce-img {
    width: 344px;
    height: 260px;
  }

  .bottom {
    height: 600px;
    width: 100%;
  }

  .bottom-slogan {
    padding-bottom: 0;
  }

  .bottom-content-box {
    display: grid;
    grid-template-columns: 180px 150px;
    justify-content: center;
    padding: 0px 10px 0px 20px;
  }

  .copyright {
    grid-row: 2/3;
    padding: 15px;
  }

  .privacy {
    grid-row: 1/2;
  }

  .sns-menu {
    grid-column: 2/3;
    justify-items: center;
  }

  .only-mobile {
    display: block;
  }
}
